.Module {
  padding: 20px;
}

.Leds {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.Led {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.controlLedWrapper {
  padding: 10px;
}

.controlLedWrapper label,
.controlLedWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
